body {
  font-family: sans-serif;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
